@model Agiledw.SiSWeb.Web.Areas.Admin.AdminAreaRegistration
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!--INICIO TITULO-->
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Home</h4>
    </div>
</div>
<!--FIM TITULO-->

