<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="SiSWebBDContainer" connectionString="metadata=res://*/SiSWebBD.csdl|res://*/SiSWebBD.ssdl|res://*/SiSWebBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDINHO-PC\SQLEXPRESS;initial catalog=SiSWebBD;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EfDbContext" connectionString="Data Source=EDINHO-PC\SQLEXPRESS;Initial Catalog=SiSWebBD;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SiSWebBDEntities" connectionString="metadata=res://*/Repositorio.SiSWebBD.csdl|res://*/Repositorio.SiSWebBD.ssdl|res://*/Repositorio.SiSWebBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDINHO-PC\SQLEXPRESS;initial catalog=SiSWebBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SiSWebBDString" connectionString="data source=EDINHO-PC\SQLEXPRESS;Initial Catalog=SiSWebBD;Integrated Security=True" providerName="System.Data.EntityClient" />-->
    <add name="SiSWebBDEntities" connectionString="metadata=res://*/Repositorio.SiSWebBD.csdl|res://*/Repositorio.SiSWebBD.ssdl|res://*/Repositorio.SiSWebBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=.\SQLEXPRESS;Initial Catalog=SiSWebBD;integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SiSWebBDEntities1" connectionString="metadata=res://*/Repositorio.SiSWebBD.csdl|res://*/Repositorio.SiSWebBD.ssdl|res://*/Repositorio.SiSWebBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDINHO-PC\SQLEXPRESS;initial catalog=SiSWebBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--Data Source=EDINHO-PC\SQLEXPRESS;Initial Catalog=SiSWebBD;Integrated Security=True-->